@import '../../../styles/variables.scss';

.container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -2px;

  button {
    background-color: var(--transparent);
    border: none;
    transition: $transition;
    color: var(--text-color);

    &:hover {
      color: var(--primary-color-light);
    }
  }
}

.active {
  svg {
    color: var(--primary-color);
  }
}
