@import '../../styles/variables.scss';

.container {
  width: 55%;

  h2 {
    font-size: $fontSizeH4;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.prescription {
  font-size: $fontSizeSmall;

  .type {
    color: var(--secondary-color-light);
  }
}

.addFieldButton,
.removeFieldButton {
  background-color: var(--transparent);
  border: none;

  svg {
    transform: scale(1.2);
    color: var(--secondary-color-light);
    transition: $transition;

    &:hover {
      opacity: $hoverOpacity;
    }
  }
}

.removeFieldButton {
  margin-top: -22px;
}

.note {
  color: var(--text-color-light);
  font-size: $fontSizeExtraSmall;
  font-style: italic;
}
