@import './variables.scss';

@keyframes loading-skeleton {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.loading-skeleton {
  pointer-events: none;
  animation: loading-skeleton 1s infinite alternate;
  color: transparent;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--lines-color);
  border-color: var(--lines-color);
}
