@import './variables.scss';

.mt--10 {
  margin-top: -10%;
}

.mt-10 {
  margin-top: 10%;
}

.primary-button,
.primary-button:hover,
.primary-button:focus {
  background-color: var(--primary-color);
  border-radius: 0;
  border-color: var(--primary-color);
  transition: $transition;
  min-width: 143px;

  &:hover {
    opacity: $hoverOpacity;
  }

  &:active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: $activeOpacity;
  }
}

.primary-button:disabled {
  background-color: var(--primary-color-light);
  border-color: var(--primary-color);
}

.btn-primary {
  --bs-btn-active-bg: var(--transparent);
}

.secondary-button,
.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--transparent);
  border-radius: 0;
  border-color: var(--text-color);
  transition: $transition;
  color: var(--text-color);
  min-width: 143px;

  &:hover,
  &:disabled {
    opacity: $hoverOpacity;
    border-color: var(--text-color-light);
  }

  &:active {
    opacity: $activeOpacity;
    background-color: var(--text-color);
    border-color: var(--text-color);
  }
}

.form-label {
  color: var(--text-color);
}

.form-control:focus,
.btn-close:focus,
.btn-close:active {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem #f9dbcf;
}

html[data-theme='dark'] {
  .form-control {
    background-color: var(--light-color);
  }

  .form-control:focus,
  .btn-close:focus,
  .btn-close:active {
    box-shadow: 0 0 0 0.25rem #f9dbcfb5;
  }
}

.modal-footer {
  background-color: var(--background-primary-color);
}

.form-group {
  position: relative;
}

.invalid-feedback {
  display: block;
  position: absolute;
  bottom: -20px;
  text-align: right;
  font-size: $fontSizeExtraSmall;

  &#usernameru {
    @media (max-width: 400px) {
      bottom: -40px;
    }
  }
}

.alert-danger {
  background-color: var(--danger-alert);
  min-width: 290px;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 1100;

  p {
    color: var(--text-color);
  }
}

.content {
  grid-area: content;
  padding: $paddingPage;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
