@import './variables.scss';

.primary-button,
.primary-button:hover,
.primary-button:focus {
  background-color: var(--primary-color);
  border-radius: 0;
  border-color: var(--primary-color);
  transition: $transition;

  &:hover {
    opacity: $hoverOpacity;
  }

  &:active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: $activeOpacity;
  }
}

.secondary-button,
.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--transparent);
  border-radius: 0;
  border-color: var(--text-color);
  transition: $transition;
  color: var(--text-color);

  &:hover {
    opacity: $hoverOpacity;
  }

  &:active {
    opacity: $activeOpacity;
    background-color: var(--text-color);
    border-color: var(--text-color);
  }
}
