@import '../../styles/variables.scss';

.headerContent {
  grid-area: headerContent;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.headerNavLink {
  text-decoration: none;
  color: var(--text-color);
  transition: $transition;

  &:hover,
  &:active,
  &.active {
    color: var(--primary-color);
  }
}
