@import '../../styles/variables.scss';

.headerContent {
  grid-area: headerContent;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 10px;
}

.headerNavLink {
  text-decoration: none;
  color: var(--text-color);
  transition: $transition;
  padding: 15px 0;

  &:hover,
  &:active,
  &.active {
    color: var(--primary-color);
  }
}

.themeButton {
  border: none;
  background-color: var(--transparent);
  transition: $transition;

  &:hover {
    opacity: $hoverOpacity;
  }
}
