@import '../../styles/variables.scss';

.table {
  color: var(--text-color);

  th {
    color: var(--title-color);
  }

  tbody {
    tr {
      cursor: pointer;
      transition: $transition;

      &:hover,
      &:active {
        background-color: var(--background-secondary-color);
      }
    }
  }
}

.adminIcon {
  margin-left: 5px;
  color: var(--secondary-color);
}

.blockIcon {
  margin-left: 5px;
  color: var(--primary-color);
}
