@import '../../styles/variables.scss';

.filterButton {
  background-color: var(--transparent);
  border: none;
  font-size: $fontSizeButton;
  padding: 5px;
  color: var(--text-color);
  transition: $transition;

  &:hover {
    color: var(--primary-color-light);
  }

  &:active {
    opacity: $activeOpacity;
  }
}

.adminsButton {
  &:hover {
    color: var(--light-color);
  }
}

.filterAdminsActive {
  color: var(--secondary-color);
}

.filterBlockedActive {
  color: var(--primary-color);
}

.themeFilter {
  margin-top: 5px;
  width: 285px;
}

.resetCollectionsFilter {
  background-color: var(--transparent);
  border: none;
  font-size: $fontSizeButton;
  padding: 5px;

  svg path {
    stroke: var(--primary-color);
    transition: $transition;
  }

  &:hover {
    svg path {
      stroke: var(--primary-color-light);
    }
  }

  &:active {
    svg path {
      opacity: $activeOpacity;
    }
  }
}
