@import '../../styles/variables.scss';

.fileUploader {
  div span {
    color: var(--text-color);

    &:nth-child(2) {
      max-width: 110px;
    }
  }

  label {
    border-color: var(--primary-color);
  }

  svg {
    path {
      fill: var(--primary-color);
    }
  }

  p {
    color: var(--text-color);
    font-size: $fontSizeExtraSmall;
    text-align: right;
  }
}
